/* creates the first layer: `body`.

Similar to how we have six levels of priority based on origin and importance,
cascade layers enable us to create sub-origin level of priority within any of
those origins.

*/
@layer layout {
    body {
      /* modify here */
    }
  }


/*
You can import more than one CSS file into a single layer. The following
declaration imports two separate files into a single social layer:

@import url(comments.css) layer(social);
@import url(sm-icons.css) layer(social);
*/

/*
To add styles to a named nested layer, use the dot notation:

@layer example.layout {
  main {
    width: 50vw;
  }
}
*/

.inline_content {
    display: flex;
    justify-content: center;
    width: 400px;
    position: calc();
}

.diviser {
    border-right: solid;
    border-color: black;
    margin: 3% 3px;
    border-width: 2px;
}

.in_center {
    position: relative;
    text-align: center;
    padding: 0px 5% 0% 5%;
    margin-left: 15%;
    margin-right: 15%;
    width: 60%;
}

/* it's best to quote font names that contains spaces to avoid confusion by the
interpreter to misunderstand with a reserve keyword os something */
.font_dif {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

