/* we can also include another css file inside this documment: */
/* @import "styles.css"; */

p {
    color: green;
}

h3, h4 {
    color: red;
}

h5 {
    color: yellow;
}

h5:hover {
    color: black;
}

div {
    display: block;
    margin: 0;
}

li em {
    color: rgb(145, 0, 72);
}

h1 + p {
    color: brown;
}

.magenta {
    color: magenta;
}

a:link {
    color: rgb(60, 77, 0);
}
  
a:visited {
    color: green;
}

/* selects any <p> that comes directly after a <ul>, which comes directly after an <h1>  */
h1 + ul + p {
    color: gray;
}

/* select any element in class special inside p that comes right after h2*/
h2 + p .special {
    color: yellow;
}

/* we can also include media queries to include conditional rules to our documment,
in the examble below we set the background color to gray if the screen size is wider
 than 30em: */

@media (min-width: 30em) {
    body {
        background-color: gray;
    }
}

/* modify any a elment wich href value is exactly equal the google link*/
a[href="https://www.google.com"] {
    color: red;
}

/* modify the size of a element with id equal to "orange" */
#orange {
    color: orange;
}

/* modify any li that is children of an ul*/
ul > li {
    color: magenta;
}

/* selects anything */
* {
    /* modify here */
}

/* selects any element that inherits from ul and is being hovered: */
ul > *:hover {
    color: black;
}

/* selects an element with attribute attr */
a[attr] {
    /* modify here*/
}

/* selects an element that constains "value" inside its attribute
attr or if "value" in cointained inside attr list of value */
a[attr~="value"] {

}

/* Matches elements with an attr attribute whose value is exactly value or
begins with value immediately followed by a hyphen. */
div[attr|="value"] {

}

/* Matches elements with an attr attribute, whose value begins with value. */
[attr^="value"] {

}

/* Matches elements with an attr attribute whose value ends with value. */
[attr$="value"] {

}

/* Matches elements with an attr attribute whose value contains value anywhere within the string. */
[attr*=value] {

}

/* a pseudp-element starts with ::, it can be used to modify parts of an element, here the
first pseudo-element inside paragraphs inside of body of the page will me modified to have an
increased font size: */
body p::first-line {
    font-size: 200%;
}

/* here we modify the first line of the first paragraph element inside body :*/
body p:first-child::first-line {
    font-size: 200%;
}
