p {
    color: green;
}

h3, h4 {
    color: red;
}

h5 {
    color: yellow;
}

h5:hover {
    color: black;
}

div {
    display: block;
    margin: 0;
}

li em {
    color: rgb(145, 0, 72);
}

h1 + p {
    color: brown;
}