/* we can also include another css file inside this documment: */
/* @import "styles.css"; */

p {
    color: green;
}

h3, h4 {
    color: red;
}

h5 {
    color: yellow;
}

h5:hover {
    color: black;
}

div {
    display: block;
    margin: 0;
}

li em {
    color: rgb(145, 0, 72);
}

h1 + p {
    color: brown;
}

.magenta {
    color: magenta;
}

a:link {
    color: rgb(60, 77, 0);
}
  
a:visited {
    color: green;
}

/* selects any <p> that comes directly after a <ul>, which comes directly after an <h1>  */
h1 + ul + p {
    color: gray;
}

/* select any element in class special inside p that comes right after h2*/
h2 + p .special {
    color: yellow;
  }

  /* we can also include media queries to include conditional rules to our documment,
  in the examble below we set the background color to gray if the screen size is wider
  than 30em: */

  @media (min-width: 30em) {
    body {
        background-color: gray;
    }

  }